<% if @content.nil? %>
  <% provide(:URL, 'Not found') %>
  No content with that ID has been found.
<% else %>
	<p>
		<strong>Url:</strong>
		<%= @content.URL %>
	</p>
 
	<p>
		<strong>Tags:</strong>
		<%= @content.tagsName %>
	</p>
<% end %>